@model Homework.Models.SearchModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cauta</title>
</head>
<body>
    <div id="search" style="height:10px; width: 150px; float:right">
        @using (Html.BeginForm("Profesori", "Homeworks"))
        {
            @Html.TextBoxFor(m => m.NumeProfesor)
            <input type="submit" value="Search" />
        }
    </div>
</body>
</html>
