@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>



<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:EchipaB9@gmail.com">EchipaB9@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adresa</h3>
    </header>
    <p>
        Str. Academiei nr.14, Cod postal 010014,
        <br/>
        Bucuresti, Sector 1
    </p>
</section>