@model List<Homework.Models.TemaModel>
@{
    ViewBag.Title = "ListaTeme";
    // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>ListaTeme</h2>
<div id="teme incarcate">
    @foreach (var tm in Model)
    { <div>
        <p>Titlu : <strong>@tm.titlu </strong></p>
        <p>Deadline : <i>@tm.data</i></p>
        <p>Rating : @tm.rating </p>

    </div>
        <center> <div style="height: 3px; width: 500px; background-color: blue"></div> </center> }
</div>