@model Homework.Models.HomeworkModel
@{
    ViewBag.Title = "ShowHomework";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowHomework</h2>

<div>
    @Model.Title
</div>
<div>
    @Model.Text
    </div>
