@model Homework.Models.TemeModel
@{
    ViewBag.Title = "Lista cu teme";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>


<div>
    @foreach(var tema in Model.teme){
        <p>
            @tema.id_tema <div style="height:20px; width: 10px; background-color: red"></div> @tema.titlu
            
        </p>
    }
</div>
