@model Homework.Models.SeeHomeworkModel

<div id="addComm">

    @using (Html.BeginForm("AddComment", "Homeworks", new { id_tema = Model.Hm.id_tema }))
    { <p>   @Html.LabelFor(m => Model.c.text)
            @Html.TextAreaFor(m => Model.c.text) 
    </p>

        <input type="submit" name="addComment" value="Submit" />

    }

</div>